* {
    /* background: linear-gradient(rgb(54, 49, 176), rgb(14, 16, 62)); */
    padding: 0;
    margin: 0;
    /* cursor: none; */
}

body {
    background: linear-gradient(-45deg, #2e9217, rgb(61, 202, 212), rgb(14, 16, 62)) fixed;
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1 {
    color: white;
    text-align: center;
    margin-top: 10%;
    text-shadow: 1px 1px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 300%;
}

canvas {
    /* background: rgb(194, 187, 187); */
    /* background: linear-gradient(rgb(54, 49, 176), rgb(14, 16, 62)); */
    display: block;
    margin: 0 auto;
}

.start {
    background: #3498db;
    width: 180px;
    padding: 4px 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 3px;
}

.start p {
    font-family: 'Roboto';
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    user-select: none;
}

.start:hover {
    cursor: pointer;
}

.start:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    border-radius: 50%;
    background-color: #927608;
    opacity: 0.4;
    bottom: -30px;
}